* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .pokemon-list {
    margin-top: 3%;
  }
  
  @font-face {
    font-family: "MyCustomFont";
    src: url("./assets/PokemonGb-RAeo.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
  }
  
  :root {
    --identity-primary: #737171;
    --grass: #5fbd58;
    --bug: #92bc2c;
    --dark: #595761;
    --dragon: #0c69c8;
    --electric: #f2d94e;
    --fairy: #ee90e6;
    --fighting: #d3425f;
    --fire: #dc872f;
    --flying: #a1bbec;
    --ghost: #5f6dbc;
    --ground: #da7c4d;
    --ice: #75d0c1;
    --normal: #a0a29f;
    --poison: #b763cf;
    --psychic: #ff2ca8;
    --rock: #a38c21;
    --steel: #5695a3;
    --water: #539ddf;
  
    --grayscale-white: #ffffff;
    --drop-shadow-hover: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
    --drop-shadow-inner: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
  }
  
  body {
    background-color: var(--background-color);
    font-family: "MyCustomFont", sans-serif;
  }
  
  [data-theme="light"] {
    --background-color: #f5f5f5;
    --header-color: #e0e0e0;
    --text-color: #202020;
  }
  
  [data-theme="dark"] {
    --background-color: #1a1a1a;
    --header-color: #2c2c2c;
    --text-color: #e0e0e0;
  }
  
  .list-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    gap: 1rem;
    padding: 0 1rem;
  }
  
  .list-item {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    padding: 1.25rem;
    align-items: center;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.25s ease-in, box-shadow 0.25s ease-in;
    width: 100%;
    max-width: 220px;
    min-height: 330px;
    color: var(--text-color);
    perspective: 150rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .list-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
  }
  
  .image {
    width: 150px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    aspect-ratio: 1 / 1;
    z-index: 10;
    image-rendering: pixelated;
    transition: opacity 0.3s ease;
  }
  
  .background-svg {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 70%;
    height: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
    opacity: 0.4;
    animation: rotate 5s linear infinite;
    will-change: transform; /* Optimizes animation performance */
  }
  
  @keyframes rotate {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  .number-wrap {
    text-align: end;
    font-weight: bold;
    font-size: larger;
    width: 100%;
  }
  
  .name-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5vmin;
    font-family: "MyCustomFont";
    font-size: larger;
    font-weight: bold;
    top: 140px;
  }
  
  .container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  
  .logo-wrapper {
    display: flex;
    transition: transform 0.6s;
  }
  
  .logo-wrapper:hover {
    transform: rotate(360deg);
  }
  
  .logo-wrapper > img {
    border-radius: 50%;
    width: 50px;
    cursor: pointer;
  }
  
  .search-wrapper,
  .search-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }
  
  .header-home {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    background-color: var(--header-color);
    height: 6em;
    padding: 0 5%;
    width: 100%;
  }
  
  .search-wrap {
    position: relative;
    background-color: var(--grayscale-white);
    border-radius: 16px;
    box-shadow: var(--drop-shadow-inner);
    height: 32px;
    gap: 8px;
    width: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: 2px solid rgb(32, 32, 32);
  }
  
  .search-wrap:hover {
    background-color: #f1eeee;
  }
  
  .search-wrap:hover .search-input {
    color: rgb(28, 28, 18);
    background-color: #f1eeee;
  }
  
  ::placeholder {
    font-weight: 400;
    font-family: MyCustomFont;
    font-size: small;
    color: #121212;
  }
  
  .search-input {
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    background-color: transparent;
  }
  
  .search-close-icon {
    margin-right: 16px;
    cursor: pointer;
  }
  
  .search-wrap > input {
    width: 80%;
    height: 70%;
    border: none;
  }
  
  .sort-wrapper {
    position: relative;
    margin-left: 30px;
    display: flex;
    align-items: center;
  }
  
  .sort-wrap {
    background-color: var(--grayscale-white);
    border-radius: 100%;
    min-width: 2rem;
    min-height: 2rem;
    box-shadow: var(--drop-shadow-inner);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
  
  .sort-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .filter-wrapper {
    position: absolute;
    border-radius: 12px;
    padding: 4px;
    right: -45px;
    box-shadow: var(--drop-shadow-hover);
    min-width: 125px;
    top: 40px;
    display: none;
    z-index: 5000;
    font-family: MyCustomFont;
    font-size: 8px;
  }
  
  .filter-wrapper-toggled {
    display: block;
  }
  
  .filter-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: var(--drop-shadow-inner);
    border-radius: 8px;
    padding: 16px 20px;
    background-color: var(--grayscale-white);
    font-weight: bolder;
    color: black;
  }
  
  input[type="radio"] {
    position: relative;
    top: 3.5px;
    accent-color: var(--identity-primary);
  }
  
  .filter-wrapper > .body2-fonts {
    color: var(--grayscale-white);
    padding: 16px 20px;
  }
  
  .caption-fonts {
    font-family: MyCustomFont;
  }
  
  .list-item:hover .image.front {
    opacity: 0;
  }
  
  .list-item:hover .image.back {
    opacity: 1;
  }
  
  .image.front {
    opacity: 1;
  }
  
  .image.back {
    opacity: 0;
  }
  
  .type-icon-wrapper {
    height: 50px;
    position: relative;
    top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    padding: 10px;
  }
  
  .type-icon {
    position: relative;
    width: 20px;
  }
  
  .type-icon-wrap-second,
  .type-icon-wrap-first {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  
  #not-found-message {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2rem;
    color: var(--text-color);
    width: 100%;
  }
  
  /* Media Queries for Responsive Design */
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      gap: 1rem;
      padding: 0.5rem;
    }
  
    .header-home {
      height: auto;
      padding: 1rem 5%;
    }
  
    .search-wrapper {
      flex-direction: column;
      width: 100%;
    }
  
    .search-wrap {
      width: 100%;
    }
  
    .sort-wrapper {
      margin-left: 0;
      align-self: flex-end;
    }
  
    .filter-wrapper {
      right: 0;
    }
  
    .list-wrapper {
      justify-content: space-around;
    }
  
    .list-item {
      max-width: 180px;
      min-height: 300px;
    }
  
    .image {
      width: 120px;
    }
  
    .name-wrap {
      top: 120px;
    }
  
    .type-icon-wrapper {
      top: 150px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .list-wrapper {
      gap: 0.5rem;
    }
  
    .list-item {
      max-width: 150px;
      min-height: 250px;
    }
  
    .image {
      width: 100px;
      top: 30px;
    }
  
    .name-wrap {
      top: 100px;
      font-size: small;
    }
  
    .type-icon-wrapper {
      top: 130px;
      gap: 8px;
    }
  
    .type-icon-wrap-second,
    .type-icon-wrap-first {
      width: 30px;
      height: 30px;
    }
  
    .type-icon {
      width: 15px;
    }
  
    .number-wrap {
      font-size: medium;
    }
  }
  
  /* For very small screens */
  @media screen and (max-width: 350px) {
    .list-item {
      max-width: 130px;
      min-height: 220px;
    }
  
    .image {
      width: 80px;
    }
  
    .name-wrap {
      top: 80px;
      font-size: x-small;
    }
  
    .type-icon-wrapper {
      top: 110px;
    }
  }
  
  
